@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');
body {
 font-family: 'Source Sans Pro', Helvetica, sans-serif;
}
p{
  margin-left: 50px;
  color: #272727;
  font-weight: 600;
}
table{
  border-collapse: collapse;
  width: 73%;
  table-layout: fixed;
  margin: auto
}
td{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr{
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px #ddd
}
#fea_col {
  width: 31%;
  font-weight: 600;
  color: #272727;
}
#desc_col {
  width: 60%;
  color: #747474
}
tr td i {
  position: relative;
  left: 30px;
  color: #ababab
}

select {
  background-color: #0d1264;
  color: white;
  text-transform: uppercase;
  text-indent: 1px;
  text-overflow: '';
  border: none;
  outline: none;
  scroll-behavior: smooth;
  width: 85px;
  height: 40px;
  text-align: center;
  -webkit-appearance: none;
}
/* .select-container {
  position: relative;
  left: 90%
} */